/* Common */
.primaryColor {
  color: #EF36ED !important;
}

.primaryBg {
  background-color: #EF36ED !important;
}

.sectionSpacing {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sectionHeading {
  font-weight: bold;

}

/* Header */

.registerBtn {
  background-color: #EF36ED !important;
  border: 1px solid #EF36ED !important;
  transition: all 0.3s ease-in-out !important;
}

.registerBtn:hover {
  background-color: transparent !important;
}

.loginBtn {
  background-color: transparent !important;
  border: 0px !important;
  transition: all 0.3s ease-in-out !important;
}

.loginBtn:hover {
  background-color: white !important;
  color: #000 !important;
}

/* Hero Section */

.heroSection {
  background-image: url("./assets/images/home-header-bg.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.heroContent h1 {
  font-size: 4rem;
  font-weight: bolder;
  /* line-height: 72px; */
}



/* Cards Section */

.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.cardItem {
  background: linear-gradient(90deg, #ece3f3, #d2dbf2);
  /* padding: 38px 90px 50px 32px; */
}

.iconContainer {
  background-color: #000;
  border-radius: 50%;
  padding: 12px;
  width: 50px;
  height: 50px;
}

/* Stats Section */

.statsSection {
  background-color: #EFEBF8;
  /* z-index: 99 !important; */
  position: relative;
  /* padding-bottom: 200px !important; */
}

.stats-heading {
  font-size: 5rem;
  font-weight: bolder;
  color: #D42B8B;

}

.gradient-box {
  background: linear-gradient(45deg, #8333c8, #2e8cc4, #8760b2, #ff229d);
  border-radius: 50px;
  position: absolute;
  right: 80px;
  left: 80px;
  bottom: -140px;
  /* margin-bottom: -200px; */
  /* z-index: 999 !important; */

}

/* review-section */
.review-section {
  height: 70vh;
  background-color: #2F1444;
  /* z-index: 10 !important; */
}

/* Tablet */
@media screen and (max-width: 768px) {
  .cardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  .cardWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}